* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

body {
    background-color: rgb(28, 31, 68);
    
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(237, 238, 247);
    max-width: 90%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
    padding: 30px;
    width: 350px;
}

ul {
    list-style-position: inside;
    list-style: none;
}

ul li {
    padding: 10px 20px;
    color: rgb(37, 37, 37);
    font-size: 15px;
    font-weight: 500;
}

ul li i {
    color: seagreen;
    padding-right: 5px;
}

.card h2, .card p:nth-of-type(2), .card a.button {
    text-transform: uppercase;
}

.card h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    border-radius: 2.5px;
    text-align: center;
    margin-bottom: 20px;
}

.card-free h2 {
    background-color: aliceblue;
}

.card-pro h2 {
    background-image: linear-gradient(to right, #77e6ee, #d07ff0);
    color: white;
}

.card-enterprise h2 {
    background-image: linear-gradient(to right, #ee94b7, #ebaf30);
    color: white;
}

.button {
    display: block;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(28, 31, 68);
    color: rgb(28, 31, 68);
    padding: 17px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    margin: 50px 0 30px 0;
    transition: 0.3s;
    transition-property: background-color, color;
}

.button:hover {
    background-color: rgb(28, 31, 68);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
    transition: 0.1s;
}

.card-pro .button {
    background-color: rgb(28, 31, 68);
    color: white;
    transition: 0.3s;
    transition-property: background-color, color;
}

.card-pro .button:hover {
    background-color: white;
    color: rgb(28, 31, 68);
    transition: 0.3s;
    cursor: pointer;
}

.card p:nth-of-type(1){
    color: rgb(28, 31, 68);
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    margin: 50px 0;
}

.card p:nth-of-type(2){
    color: rgb(28, 31, 68);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 50px 0 20px 0;
}

.card p:nth-of-type(3){
    color: rgb(37, 37, 37);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.card .price span {
    font-size: 15px;
    position: relative;
    left: 5px;
}

.card .price sup {
    font-size: 15px;
    position: relative;
    left: -3px;
    top: -10px;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
        flex-direction: column;
    }

    .card {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .list li {
        font-size: 14px;
    }
    .card p:nth-of-type(1) {
        margin: 0;
        padding: 0;
    }
    .card p:nth-of-type(2) {
        margin: 10px;
    }
}