* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  background-color: rgb(56, 47, 65);
}

  .container {
  width: 80%;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(241, 241, 241);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.heading {
  font-size: 2rem;
  margin: 50px 20px;
}

p {
  font-size: 1.2rem;
  margin: 20px;
}

.img-container {
  width: 80%;
  border: 1px solid black;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.img-container .image {
  height: 80%;
  width: 80%;
  margin: 10px 10px;
  border-radius: 5px;
  
}

@media (max-width: 1200px) {
  .container {
  width: 80%;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(241, 241, 241);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.heading {
  font-size: 2rem;
  margin: 50px 20px;
}

p {
  font-size: 1.2rem;
  margin: 20px;
}

.img-container {
  width: 80%;
  border: 1px solid black;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.img-container .image {
  height: 80%;
  width: 80%;
  margin: 10px 10px;
  border-radius: 5px;
  
}
}

@media (max-width: 576px) {

  .heading {
    font-size: 1.5rem;
    margin: 30px 10px;
  }

  p {
    font-size: 1rem;
    margin: 20px;
  }

  .container {
    width: 80%;
  }

  .img-container .image {
    height: 80%;
    width: 80%;
    margin: 15px 5px;
  }
}